@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.food-munch-logo {
  width: 160px;
  height: 90px;
}
#navItem1 {
  color: white;
  font-family: "Roboto";
  font-size: 22px;
}


#navItem2 {
  color: white;
  font-family: "Roboto";
  font-size: 22px;
}
#navItem3 {
  color: white;
  font-family: "Roboto";
  font-size: 22px;
}
#navItem4 {
  color: white;
  font-family: "Roboto";
  font-size: 22px;
}
.banner-section-bg-container {
    background-image: url("assessts/Burmous_Fest2.png");
    height: 100vh;
    background-size: cover;
    width: auto;
  
}
.banner-heading {
  color:white ;
  font-family: cursive;
  font-size: 45px;
  font-weight: bold;
}
.banner-section-bg{
  height: auto;
  background-size: cover;
  width: 100%;
}
.span1{
    color: #89216B;
    font-family:cursive ;
}
.banner-caption {
  color: #f5f7fa;
  font-family: Comic Sans 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 29px;
  font-weight: bolder;
}
.custom-button {
  color: white;
  background-color: #FFE761;
  width: 130px;
  height: 45px;
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
}
.custom-outline-button {
  color: #FFEA76;
  background-color: transparent;
  width: 150px;
  height: 45px;
  border-style: solid;
  border-width: 1px;
  border-color: #FFEA76;
  border-radius: 8px;
}
.wcu-section {
  background-image: radial-gradient(#FFFFFF,#f6e9bc);
}
.wcu-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.wcu-section-description {
  color: #0a0905;
  font-family: "Roboto";
  font-size: 16px;
}
.wcu-card {
  text-align: center;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #e5eaf4;
  border-radius: 16px;
}
.wcu-card-image {
  width: 87px;
  height: 90px;
}
.wcu-card-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 500;
}
.wcu-card-description {
  color: black;
  font-family: "Bradley Hand, cursive";
  font-size: 20px;
  font-style: italic;
}
.offers {
  color: #323f4b;
  font-style: italic;
  font-weight: 600;
}
.explore-menu-section {
  background-image: radial-gradient(#FFFFFF,#f6e9bc);
}
.menu-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}

.venue-section-heading{
  color: black;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}


.menu-item-image {
  border-radius: 16px;
}
.menu-card-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
}
.menu-item-link {
  color: #d0b200;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}
.menu-item-card {
  border-radius: 16px;
}

.Venue-menu-section{
  background-color: #FFEA76;
  border-radius: 10px;
}
.healthy-food-section {
    background-color: #FFEA76;
    border-radius: 10px;
}
.healthy-food-section-img {
  width: 270px;
}
.healthy-food-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.healthy-food-section-description {
  color: black;
  font-family: "Roboto";
  font-size: 16px;
}
.delivery-and-payment-section {
  background-color: #FFEA76;
  border-radius: 10px;
}
.delivery-and-payment-section-img {
  width: 270px;
}
.delivery-and-payment-section-heading {
  color: 183b56k;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.delivery-and-payment-section-description {
  color: black;
  font-family: "Roboto";
  font-size: 16px;
}
.payment-card-img {
  width: 50px;
  height: 50px;
  margin-right: 28px;
}
.thanking-customers-section {
  background-image: radial-gradient(#fff8db, #fae38c);
}
.thanking-customers-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.thanking-customers-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.thanking-customers-section-img {
  width: 270px;
  margin-bottom: 20px;
}
.thanking-customers-section-modal-title {
  color: #d0b200;
  font-weight: 800;
}
.follow-us-section {
  background-image: radial-gradient(#FFFFFF,#f6e9bc);
  border-radius: 10px;
}
.follow-us-section-heading {
  text-align: center;
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.follow-us-icon-container {
  background-color: #faf7e8;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 15px;
  padding-top: 22px;
  padding-bottom: 14px;
  padding-right: 16px;
  padding-left: 22px;
}
.icon {
  color: #0d2436;
  font-size: 35px;
}
.footer-section {
  background-color: #0d2436;
}
.footer-section-mail-id {
  color: #959ead;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}
.footer-section-address {
  color: #959ead;
  font-family: "Roboto";
  font-size: 14px;
}

.span2{
    font-weight: bold;
    color: black;
}






.footer {
    min-height: auto;
    padding-top: 0;
    background: rgb(0, 1, 43);
  }
  .footer .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer .box-container .box {
    flex: 1 1 25rem;
    margin: 2.5rem;
  }
  .footer .box-container .box h3 {
    font-size: 20px;
    color: #fff;
    padding-bottom: 1rem;
    font-weight: normal;
  }
  .footer .box-container .box p {
    font-size: 20px;
    color: #ccc;
    padding: 0.7rem 0;
    text-transform: none;
  }
  .footer .box-container .box p i {
    padding-right: 1rem;
    color: #ffae00;
  }
  .footer .box-container .box a {
    font-size: 20px;
    color: rgb(238, 238, 238);
    padding: 0.3rem 0;
    display: block;
  }
  .footer .box-container .box a:hover {
    color: #ffae00;
  }
  .footer .box-container .box .share {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
  }
  .footer .box-container .box .share a {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    text-align: center;
    border-radius: 5rem;
    font-size: 20px;
    margin-right: 1rem;
    transition: 0.2s;
    background: rgb(230, 230, 230);
    color: #02094b;
    border: none;
  }
  .footer .box-container .box .share a:hover {
    background: transparent;
    transform: scale(0.98);
    border: 0.1rem solid rgb(180, 178, 178);
    color: #ffae00;
  }
  .footer .credit {
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: #fff;
    border-top: 0.1rem solid #fff3;
  }
  .footer .credit a {
    color: #ffae00;
  }
  .footer .fa {
    color: #e90606;
    margin: 0 0.3rem;
    font-size: 1.5rem;
    animation: pound 0.35s infinite alternate;
  }
  @-webkit-keyframes pound {
    to {
      transform: scale(1.1);
    }
  }
  @keyframes pound {
    to {
      transform: scale(1.1);
    }
  }
  @media (max-width: 450px) {
    .footer .box-container .box {
      margin: 1.5rem;
    }
    .footer .box-container .box p {
      padding: 0.7rem;
    }
    .footer .box-container .box .share a {
      padding: 1.2rem;
    }
  }

  .color-font{
    color: red;
  }



  .btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }
  
  #confetti{
    
	  left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
  }

  #myModal .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}

/* TIMER  */

.li1 {
  display: inline-block;
  font-size: 20px;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #02094b;
  margin-bottom: 20px;
}

.count-heading{
  color: #02094b;
  font-family: "ROBOTO";
}

.li1 .span3 {
  display: block;
  font-size: 4.5rem;
}
.span3 {
  font-size: 4rem;
  padding: 0 .5rem;
}
.countdown{
  text-align: center;
  background-image: radial-gradient(#FFFFFF,#f6e9bc);
  border-radius: 10px;
}
@media all and (max-width: 768px) {
  
  
  .li1 {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  .li1 .span3 {
    font-size: calc(3.375rem * var(--smaller));
  }
}

  /*carousel*/

  @media (min-width: 576px) { 
    .coordinator{
      margin-left: 50px;
    }
   }

   @media (min-width: 768px) { 
    .coordinator{
      margin-right: 20px;
    }
    }
